<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Emotion analysis: Twitter's Tweets</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="/static/css/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="http://localhost:5000/">Emotion analysis: Twitter's Tweets</a> </div>
  </div>
</nav>

<!-- Header -->
<br><br><br><br>
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <center>
            <br><br><br>
            <h2>The emotion resides within that tweet might be:</h2>
            <h1>{{prediction[0].upper()}}<span></span></h1>
            <p>{{prediction[1]}}
            <img src="{{prediction[2]}}">
            <a href="http://localhost:5000/" class="btn btn-custom btn-lg">Back to home</a>
            </p>
            </center>
          </div>
        </div>
        <br><br><br>
      </div>
    </div>
  </div>
  
<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2017 Interact. Design by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/static/js/bootstrap.js"></script> 
<script type="text/javascript" src="/static/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="/static/js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="/static/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
